/* COLORES

celeste: #8fc5ec

*/

body {background: url(../images/bg-body2.jpg) no-repeat 50% -30px;  font-family: 'Roboto Condensed', sans-serif; margin:0;}/*ñ*/
body, html {height: 100%}
#inicio {height: 100%; position: relative;}
.container {max-width: 1000px; margin:0 auto; padding: 0 10px; position: relative;}
ul, li {list-style: none; padding: 0; margin: 0px;}
a {text-decoration: none;}
button span {display: none;}
.clear {clear: both;}

/* Poste Menú Superior */
nav { }
nav span {display: none}
nav.menuPc {position: absolute; z-index: 1000; top:50px;}
nav.menuPc span {display: none}
nav.menuPc li {display: block}
nav.menuPc a {display: block; width: 140px; height: 40px;}
nav.menuPc .reg {background: url(../images/btn-registrate.png) no-repeat;}
nav.menuPc .prod {background: url(../images/btn-productos.png) no-repeat;}
nav.menuPc .bases {background: url(../images/btn-bases.png) no-repeat;} 

nav.menuResponsive {display: none; width: 100%; height: 70px; background:#fff; position: fixed; top:0; left:0; z-index: 999}
nav.menuResponsive ul {left: -12px; position: relative;}
nav.menuResponsive a {width: 187px ; height: 89px; }
nav.menuResponsive .reg {background: url(../images/btn-registrate-cel.png) no-repeat; left:-12px; z-index: 30}
nav.menuResponsive .reg:hover {background: url(../images/btn-registrate-cel-hover.png) no-repeat;}
nav.menuResponsive .prod {background: url(../images/btn-productos-cel.png) no-repeat; left:88px;z-index: 20}
nav.menuResponsive .prod:hover {background: url(../images/btn-productos-cel-hover.png) no-repeat; }
nav.menuResponsive .bases {background: url(../images/btn-bases-cel.png) no-repeat; left:205px; z-index: 15} 
nav.menuResponsive .bases:hover {background: url(../images/btn-bases-cel-hover.png) no-repeat;} 

.flexslider img {width: 100%; height: auto}
.flex-control-nav, .flex-direction-nav {display: none;}
.slideBanda {position: absolute; bottom: 0;}
.banda {color: #fff; width:100%; position: absolute; bottom: 0;z-index: 1000;
	background: rgb(136, 24, 22);
	background: -moz-linear-gradient(90deg, rgb(136, 24, 22) 10%, rgb(218, 4, 17) 60%);
	background: -webkit-linear-gradient(90deg, rgb(136, 24, 22) 10%, rgb(218, 4, 17) 60%);
	background: -o-linear-gradient(90deg, rgb(136, 24, 22) 10%, rgb(218, 4, 17) 60%);
	background: -ms-linear-gradient(90deg, rgb(136, 24, 22) 10%, rgb(218, 4, 17) 60%);
	background: linear-gradient(180deg, rgb(136, 24, 22) 10%, rgb(218, 4, 17) 60%);}
.banda h1 {font-weight: 400; text-align: center;font-family: 'Roboto', sans-serif; }
h1 .colgatePlaxH1 {display: inline-block; margin: 0 0.2em; vertical-align: text-top;}

/*section {height: 100%;}*/
#inicio {}
#productos .container, #registro .container {height: 100%; padding-top: 10px;} 
#bases {min-height: 700px}
#bases .colContent {padding-top: 0.1em;}
.colMenu {width: 327px; float: left; position: relative; z-index: 100}
.colContent {margin: 0 auto; max-width: 600px; position: relative; z-index: 100; }
.divDivisor {margin: 3em 0 5em}
.divDivisor img {width: 100%; height: auto}

/*.papelitosHome {max-width: 1200px; height: 458px; position: absolute; top: 70px; left: 0}
.papelitosProd {max-width: 1200px; height: 458px; position: absolute; top: 70px; left: 0}
.papelitosRegistro {max-width: 1200px; height: 458px; position: absolute; bottom: 0; left: 0; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg);}
.papelitosHome img, .papelitosProd img, .papelitosRegistro img {width: 100%; height: auto}*/

button:focus, input:focus {outline: 0}

/* Formulario de Registro */
.formRegistro {max-width: 600px; margin:0 auto 100px; background: #fff}
.formRegistro label {padding-left: 20px;}
.ancho100 {width: 100%; display: inline-block;}
.ancho60 {width: 60% !important; display: inline-block }
.ancho40 {width: 40%; display: inline-block;}
.ancho20 {width: 18%; display: inline-block;}
.combo {margin-bottom: 20px;}
.masEan {background: url(../images/mas.png) no-repeat; width: 36px; height: 36px; border: 0; margin-left: 10px; margin-right: 5px; cursor: pointer}
.ean {margin-bottom: 20px}
.observacion {font-size: 0.8em;position: relative; top: -12px; left: 5px;}
.observacion2 {font-size: 0.9em;}

.check {}
.check input[type="checkbox"] {float: left; margin-bottom: 1em; margin-right: 0.5em; position: relative; top: 0px}
.check label {display: block}

/* Bases y condiciones */
/*#masBases {display: none}*/

/* Productos */


.btn.linkColgate {margin-right: -20px !important}
.logoColgate {position: relative; top:5px; left: 5px}

/* Footer */
footer {width: 100%; height: 80px; text-align: center; font-size: 14px;}
.copyright {font-size: 14px; color: #2d2d2d; letter-spacing: 0.2px;text-align: center; margin-bottom: 12px;}
.copyright a { font-size: 14px; color: #505050; text-decoration: underline;}
.copyright a:hover {color: #c00;}   
.brand a { display: block; width: 220px; height: 23px; margin: 0 auto; background: url(../images/cp.png) center center; text-align: center;}
.brand a:hover {background: url(../images/cp_hover.png) center center;}

/* Botones */
.btn {background: #e2002c; border: none; color: #fff; display: inline-block; padding:0 15px; border-radius: 17px; font-weight: 600; font-size: 20px; height: 35px; line-height: 35px; cursor: pointer;}

input[type="text"], input[type="email"] {border:2px solid #e2002c; display: inline-block; padding:0 15px; border-radius: 17px; text- font-weight: 600; font-size: 20px; height: 32px; line-height: 32px; width: 100%; box-sizing:border-box; vertical-align: middle;}
input[type="submit"] {font-family: 'Roboto Condensed', sans-serif;}

.contentUp {width: 100%; position: fixed; bottom: 0; left:0; z-index: 999}
.scrollUp{ width:60px; height:60px; opacity:0.9; position:fixed; z-index: 999; bottom:20px; right:25px; display:none; background: url(../images/up.png) no-repeat; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%;}

/*
    DIV LOADING
*/
#divLoading {display: none; position: fixed; top: 0; left: 0; z-index: 5000; width: 100%; height: 100%; text-align: center; background: rgba(255,255,255,0.7);}
#divLoading img {position: absolute; top: 50%; left:50%; margin-top: -24px; margin-left: -24px}
#divLoading p {position: absolute; top:40%; width: 100%; font-size: 1.6em;}


/* M E D I A  Q U E R Y */

@media screen and (max-width: 1300px){

}

@media screen and (max-width: 880px) and (orientation: landscape){
    body{background: url(../images/bg-body3.jpg) no-repeat 50% 40%;}
	nav.menuPc {top:20px;}

}

@media screen and (max-width: 880px) and (orientation: portrait){
    body{background: url(../images/bg-body3.jpg) no-repeat 50% 0;}
}


@media screen and (max-width: 480px){	
	body{background: url(../images/bg-body6.jpg) no-repeat 50% 50%;}
	h1 {height: auto}
	.h1pc {display: none;}
	.h1mobile {display: block;}
	nav.menuPc {display: none;}
	nav.menuResponsive {display: block;}
	
	.formRegistro label {font-size: 1.1em; line-height: 1.6em; padding-left: 12px;}
	.combo {margin-bottom: 15px;}
	.comboDni {width: 100% !important}
	.observacion {display: block;}
	.observacion2 {font-size: 1em !important; line-height: 1.2em !important; padding-left: 30px !important;}   
	.codigo {width: 33%; margin-bottom: 15px;}
	.ciudad {width: 65%; margin-bottom: 15px;}
	.prov {width: 100%}
	.cArea {width: 33%}
	.telContacto {width: 65%}
	input[type="text"], input[type="email"] {height: 35px}
	.comboEan {display: table; margin-bottom: 40px;}
	#ean {display: table-cell; width: 85% !important}
	.masEan{display: table-cell;}

	.prodImg img {width: 100%; height: auto}
	.papelitosProd {width: 100%; top: 200px}
	.btn.linkColgate {margin-right: 0 !important; text-align: center}

	.contentUp {width: 100%; position: fixed; bottom: 0; left:0; z-index: 999}
	.scrollUp {background-position:center; position:absolute; bottom:10px; left:50%; margin-left: -25px; display:none;  width: 50px; height: 50px}
	footer {margin-bottom: 100px;}
}

@media screen and (max-width: 480px) and (orientation: portrait){
    body{background: url(../images/bg-body6.jpg) no-repeat 50% 65%; }
}
@media screen and (max-width: 480px) and (orientation: landscape){
    body{background: url(../images/bg-body5.jpg) no-repeat 50% 35%; }
}

@media screen and (max-width: 390px){
	.labelEan span {display: inline-block;}
	#ean {display: table-cell; width: 100% !important}
	.masEan{display: inline-block;}
	.observacion {display: inline-block;}
}

@media screen and (max-width: 340px) and (orientation: landscape){
    body{background: url(../images/bg-body5.jpg) no-repeat 50% 15%; }
}
@media screen and (max-width: 340px) and (orientation: portrait){
    body{background: url(../images/bg-body6.jpg) no-repeat 50% 25%; }
}

@media screen and (max-width: 440px) and (orientation: portrait){
    body{background: url(../images/bg-body6.jpg) no-repeat 50% 40%; }
}
